body {
  margin: 20px;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: bold;
}

.player-cards, .desk {
  border: solid black 1px;
  padding: 20px;
}

.deck-box {
  max-height: 60vh;
  overflow-y: scroll
}

.cards-box {
  display: flex;
  flex-wrap: wrap;
}

.base-card {
  flex-shrink: 0;
  flex-grow: 0;
  text-align: left;
  border-radius: 3%;
  min-height: 231px;
  min-width: 165px;
  max-width: 165px;
  padding: 10px;
  margin: 5px;
  border-top-width: 3px;
  border-right-width: 3px;
}

.base-card:hover {
  border-color: black;
}

.base-card-selected {
  border-color: orange;
}

.black-card {
  color: white;
  background-color: black;
}