body {
  margin: 20px;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: bold;
}

.player-cards, .desk {
  border: solid black 1px;
  padding: 20px;
}

.cards-box, .box-grid {
  display: flex;
  flex-wrap: wrap
}
.cards-card, .box {
  text-align: left;
  border-radius: 3%;
  min-height: 280px;
  max-width: 200px;
  padding: 10px;
  margin: 5px;
}

.player-cards-card:hover, .box:hover {
  border-color: black;
}

.player-cards-card-selected, .box-selected {
  border-color: orange;
  border-width: 2px;
}

.black-card {
  color: white;
  background-color: black;
}

.box-grid {
  max-height: 60vh;
  overflow-y: scroll;
}

.box {
  border-top-width: 3px;
  border-right-width: 3px;
}